<div class="col-md-8 offset-md-3">
  <p>Updating User</p>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>ID</label>
      <input type="text" disabled="disabled" class="form-control" [(ngModel)]="object.id" name="id">
    </div>
    <div class="form-group">
      <label>სახელი</label>
      <input type="text" class="form-control" [(ngModel)]="object.name" name="name">
    </div>
    <div class="form-group">
      <label>გვარი</label>
      <input type="text" class="form-control" [(ngModel)]="object.lastName" name="email">
    </div>
    <div class="form-group">
      <label>Role</label>
      <select class="form-control" [(ngModel)]="object.role" name="Role">
        <option *ngFor="let r of roles" [ngValue]="r.name">{{r.name}}</option>
      </select>
    </div>
    <br>
    <div class="form-group text-center">
      <button class="btn btn-success" type="submit">Save</button>
    </div>
  </form>
</div>
