<!--<div class="card">-->
<!--  <div class="card-header">-->
<!--    <h5 class="card-title">თანამშრომლები</h5>-->
<!--  </div>-->
<!--  <div class="card-body">-->
<table class="table table-striped table-hover text-center">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Roles</th>
    <th>Action</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let u of objectsList" (dblclick)="openDetailsModal(content, u.id)">
    <td class="align-middle">{{u.id}}</td>
    <td class="align-middle">{{(u.name.length > 30) ? (u.name | slice:0:30) + '..' : (u.name)}}</td>
    <td class="align-middle">{{(u.email.length > 30) ? (u.email | slice:0:30) + '..' : (u.email)}}</td>
    <td class="align-middle">{{u.role}}</td>

    <td class="text-center">
      <button class="btn zoom" ngbTooltip="Show Details" [openDelay]="300" [closeDelay]="500"
              (click)="openDetailsModal(content, u.id)">
        <fa-icon icon="clipboard-list"></fa-icon>
      </button>
      <button (click)="update(u.id)" ngbTooltip="Edit Record" [openDelay]="300" [closeDelay]="500" class="btn zoom"
              style="margin-left: 10px;">
        <fa-icon icon="pencil-alt"></fa-icon>
      </button>
      <button (click)="delete(u.id)" ngbTooltip="Delete Record" [openDelay]="300" [closeDelay]="500"
              class="btn zoom"
              style="margin-left: 10px;">
        <fa-icon icon="trash-alt"></fa-icon>
      </button>
    </td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-between p-2">
  <select class="custom-select" style="width: auto" name="pageSize" [(ngModel)]="rowCount">
    <option [ngValue]="10">10</option>
    <option [ngValue]="20">20</option>
    <option [ngValue]="100">100</option>
    <option [ngValue]="500">500</option>
  </select>
  <ngb-pagination class="d-flex justify-content-end" [collectionSize]="total" [(page)]="page"></ngb-pagination>
</div>
<!--  </div>-->
<!--</div>-->
Page N {{page}}<br> Row Count{{rowCount}}

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Details</h4>
  </div>
  <div class="modal-body">
    <table class="table table-striped">
      <tr>
        <th class="col-md-4 text-right">ID</th>
        <td>{{selectedObject.id}}</td>
      </tr>
      <tr>
        <th class="text-right">Name</th>
        <td>{{selectedObject.name}}</td>
      </tr>
      <tr>
        <th class="text-right">Email</th>
        <td>{{selectedObject.email}}</td>
      </tr>
      <tr>
        <th class="text-right">Role</th>
        <td>
          {{selectedObject.role}}
        </td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="closeModal()">Close</button>
  </div>
</ng-template>
